# Ignore everything
.vscode
custom-drivers/*

# Allow .h, .c, Makefile, gitignore, markdown, and txt files
!*.h
!*.c
!Makefile
!.gitignore
!*.md
!*.txt
!custom-drivers/thought-experiments

# Ignore other files that were allowed from
# above but should be excluded
*.mod.c